*{
  margin: 0;
  padding: 0;
}

body{
  background-color: red;
  animation-name: colorChange;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

/*Color pallete from https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/
Pastel Rainbow*/
@keyframes colorChange {
  0% {background-color: #a8e6cf;}
  16% {background-color: #dcedc1;}
  32% {background-color: #ffd3b6;}
  48% {background-color: #ffaaa5;}
  80% {background-color: #ff8b94;}
  100% {background-color: #a8e6cf;}
}

.navbar{
  text-align: right;
}